.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.header_logoContainer {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header_logoContainer img {
  height: 40px;
  width: 40px;
}

.header_logoContainer p {
  font-size: 20px;
  font-weight: 700;
  color: #1f2937; /* темно-сірий */
  letter-spacing: 0.5px;
}
